<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--<script th:src="@{/static/js/test.js}"></script>-->
</head>
<body>
Thymeleaf  test.html<br/>

<div>
    用户姓名：<input th:id="${user.name}" th:name="${user.name}" th:value="${user.name}"><br/>
    用户年龄：<input th:value="${user.age}"><br/>
    用户生日：<input th:value="${#dates.format(user.birthday,'YYYY-MM-dd HH:mm:ss')}"><br/><br/>
</div>

<div th:object="${user}">
    用户姓名：<input th:id="*{name}" th:name="*{name}" th:value="*{name}"><br/>
    用户年龄：<input th:value="*{age}"><br/>
    用户生日：<input th:value="*{#dates.format(birthday,'YYYY-MM-dd HH:mm:ss')}"><br/><br/>
</div>

text 与 utext:<br/>
<span th:text="${user.desc}">abc</span><br/>
<span th:utext="${user.desc}">abc</span><br/><br/>

URL:<br/>
<a  th:href="@{http://www.baidu.com}">网站地址</a><br/><br/>

<form th:action="@{/th/postForm}" th:object="${user}" th:method="post">
    <input type="text" th:field="*{name}">
    <input type="text" th:field="*{age}">
    <input type="submit">
</form><br/>

<div th:if="${user.age} == 18">等于18</div>
<div th:if="${user.age} gt 18">大于18</div>
<div th:if="${user.age} lt 18">小于18</div>
<div th:if="${user.age} ge 18">大于等于18</div>
<div th:if="${user.age} le 18">小于等于18</div>
<br/>

<select>
    <option>选择框</option>
    <option th:selected="${user.name eq 'jyf'}">jyf</option>
    <option th:selected="${user.name eq 'jyf1'}">jyf1</option>
    <option th:selected="${user.name eq 'jyf2'}">jyf2</option>
</select>
<br/>

<table>
    <tr>
        <th>姓名</th>
        <th>年龄</th>
        <th>年龄备注</th>
        <th>生日</th>
    </tr>
    <tr th:each="person:${userList}">
        <td th:text="${person.name}"></td>
        <td th:text="${person.age}"></td>
        <td th:text="${person.age gt 18} ? 你老了 : 你很年轻">18岁</td>
        <td th:text="${#dates.format(person.birthday,'yyyy-mm-dd HH:mm:ss')}"></td>
    </tr>
</table>
<br/>

<div th:switch="${user.name}">
    <p th:case="'jyf'">jyf</p>
    <p th:case="#{roles.manager}">管理员</p>
    <p th:case="#{roles.superadmin}">超级管理员</p>
    <p th:case="*">其他用户</p>
</div>

<p th:text="#{roles.manager}">book info</p>
<p th:text="#{roles.superadmin}">book info</p>
</body>
</html>